#home{
	background: #ffc107;
	color: white;
}

.caixa{
	padding: 60px 0px;
	border-bottom: 1px solid #e5e5e5
}

h3{
	font-size: 1.5em;
}

footer p a{
	margin: 5px 15px;
	text-decoration: none;
	color: black;
}






